.footer h2{
    width: 100%;
    text-align: center;
    color: #25b79f;
    font-size: 40px;
}
.footer h3{
    color: white;
}
.footer{
    color: #25b79f;
    display: flex;
    justify-content: space-evenly;
}
.footer .footer_nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer li{
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all .3s ease;
}

.footer li:hover{
    color: white;
}