@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap%27');
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a{
    font-size: 19px;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}


nav a::after{
    position: absolute;
    content: "";
    bottom: -3px ;
    left: 50%;
    background-color: #25b79f;
    width: 0;
    height: 3px;
    transition: all .25s ease-in-out;
}

nav a:hover::after{
    width: 100%;
    left: 0;
    border-radius: 2px;
}

nav{
    width: 100%;
    position: fixed;
    background-color: #090A0B;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    text-transform: uppercase;
    height: 64px;
    top: 0;
}
.container{
    margin-top: 64px;
    height: calc(100vh - 64px);
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.element{
    scroll-snap-align: start;
    scroll-padding-inline-start: unset;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #090A0B;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.element>*{
    visibility: hidden;
}
.element.is-visible > *{
    animation: right .9s  ease;
    visibility: visible;
}

.element.is-visible:nth-child(2)>*:not(.row){
    animation: left .9s ease;
}

@keyframes moove {
    0%{
        bottom: 40px; 
    }
    50%{
        bottom: 15px;
    }
    100%{
        bottom: 40px;
    }
}

@keyframes right {
    0%{
        transform: translate(-200%);
    }
    
    100%{
        transform: translate(0);
    }
}
@keyframes left {
    0%{
        transform: translate(200%);
    }
    100%{
        transform: translate(0);
    }
}

.second{
    position: relative;
    background-color: #101012;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#long{
    font-weight: 100;
}

.element .row{
    position: absolute;
    color: orange;
    bottom: 0;
    font-size: 50px;
    rotate: -90deg;
    transform: calc(-50%,-50%);
    animation: moove .7s infinite ;
}


.first{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 375%;
}

.about{
    height: 1000px;
    margin-top: 30px;
}



.row a{
    color: #25b79f;
    font-weight: 900;
}

.second .row a{
    color: #25b79f;
}

.second>h2{
    width: 100%;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #25b79f;
}

#third-slide>h2{
    text-align: center;
    margin: 30px;
    font-size: 30px;
    color:#25b79f;
}
#title_first h1{
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}

#title_first{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation:  right .9s ease-in-out;
}


#title_first p{
    color: #25b79f;
    font-size: 30px;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.personnal_information{
    max-width: 50%;
}
hr{
    height: 3px;
    background-color: white;
    width: 50%;
    margin: auto;
}
.tools_use{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tools_use li{
    padding: 5px;
    font-size: 30px;
    color: #25b79f;
}

.personnal_information img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.personnal_information{
    color: white;
}

.personnal_information p {
    margin-bottom: 40px;
}

.personnal_information .project{
    padding: 20px;
    background-color: transparent;
    text-transform: uppercase;
    border:2px solid  #25b79f;
    color: #25b79f;
    font-weight: bold;
    transition: all .5s ease-in-out;
    display: inline-block;
}

.personnal_information .project:hover{
    background-color: #25b79f;
    border:2px solid #07374a;
    color: #07374a;
}
.third{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.third>h2{
    width: 100%;
    color: #25b79f;
}


.card{
    height: 400px;
    max-width: 300px;
    flex: 1 0 300px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
    background-image: url('../images/python.png');
    background-size:50%;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    transition: all .3s ease-in;
    background-position: top center;
    margin-bottom: 100px;
    background-color: #161618;
    border: 2px solid #25b79f;
    box-shadow: #25b79f 2.5px 2.5px 2.5px 2.5px;
}


.card:nth-child(3){
    background-image: url('../images/java.png');
}
.card:nth-child(4){
    background-image: url('../images/php.png');
}

.card:nth-child(5){
    background-image: url('../images/html.png');
}

.card:hover{
    scale: 1.1;
    background-size: 70%;
    box-shadow: none;
}
.card:hover .content{
    transform: translateY(-5px);
    visibility: visible;
}

.content{
    visibility: hidden;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    transform: translateY(150px);
    margin: 1px auto 1px auto ;
    transition: all .3s ease-in-out;
}

.btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover{
    border: 1px solid #25b79f;
    color: #25b79f;
}

.card .title{
    text-transform: uppercase;
}

.footer h2{
    width: 100%;
    text-align: center;
    color: #25b79f;
    font-size: 40px;
}
.footer h3{
    color: white;
}
.footer{
    color: #25b79f;
    display: flex;
    justify-content: space-evenly;
}
.footer .footer_nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer li{
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all .3s ease;
}

.footer li:hover{
    color: white;
}


.reseaux_card{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card_contact{
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    margin: auto auto auto auto;
    transition: all .2s ease-in;
}

.card_contact:hover{
    box-shadow: 3px 3px 3px 3px rgb(46, 46, 46);
}

@media  screen and (max-width : 630px) {
    .card{
        height: 300px;
    }
    
}

