
.second{
    position: relative;
    background-color: #101012;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#long{
    font-weight: 100;
}


.about{
    height: 1000px;
    margin-top: 30px;
}



.second .row a{
    color: #25b79f;
}

.second>h2{
    width: 100%;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #25b79f;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.personnal_information{
    max-width: 50%;
}
hr{
    height: 3px;
    background-color: white;
    width: 50%;
    margin: auto;
}
.tools_use{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tools_use li{
    padding: 5px;
    font-size: 30px;
    color: #25b79f;
}

.personnal_information img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.personnal_information{
    color: white;
}

.personnal_information p {
    margin-bottom: 40px;
}

.personnal_information .project{
    padding: 20px;
    background-color: transparent;
    text-transform: uppercase;
    border:2px solid  #25b79f;
    color: #25b79f;
    font-weight: bold;
    transition: all .5s ease-in-out;
    display: inline-block;
}

.personnal_information .project:hover{
    background-color: #25b79f;
    border:2px solid #07374a;
    color: #07374a;
}
.third{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.third>h2{
    width: 100%;
    color: #25b79f;
}


.card{
    height: 400px;
    max-width: 300px;
    flex: 1 0 300px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
    background-image: url('../images/python.png');
    background-size:50%;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    transition: all .3s ease-in;
    background-position: top center;
    margin-bottom: 100px;
    background-color: #161618;
    border: 2px solid #25b79f;
    box-shadow: #25b79f 2.5px 2.5px 2.5px 2.5px;
}


.card:nth-child(3){
    background-image: url('../images/java.png');
}
.card:nth-child(4){
    background-image: url('../images/php.png');
}

.card:nth-child(5){
    background-image: url('../images/html.png');
}

.card:hover{
    scale: 1.1;
    background-size: 70%;
    box-shadow: none;
}
.card:hover .content{
    transform: translateY(-5px);
    visibility: visible;
}

.content{
    visibility: hidden;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    transform: translateY(150px);
    margin: 1px auto 1px auto ;
    transition: all .3s ease-in-out;
}

.btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover{
    border: 1px solid #25b79f;
    color: #25b79f;
}

.card .title{
    text-transform: uppercase;
}


