.presentation {
    position: relative;
    background-color: #101012;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.presentation>h2{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #25b79f;
}

.presentation img{
    height: 600px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

button{
    border: none;
    background-color: #25b79f;
    height: 60px;
    width: 200px;
    cursor: pointer;
    transition: all .2s ease-in;
}

button:hover{
    background-color: black;
    border: 1px solid #25b79f; ;
    box-shadow: 3px 3px 3px 3px rgb(46, 46, 46);
}

button a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

button:hover a{
    color: #25b79f;
}